src/main/mule/traxion-albatros-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="traxion-albatros-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082" protocol="HTTPS" tlsContext="TLS_Context" />
    </http:listener-config>
    <apikit:config name="traxion-albatros-api-config" api="resource::ab8117f6-d718-4307-b5f7-03262d589cd0:traxion-albatros-api:1.0.31:raml:zip:traxion-albatros-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="traxion-albatros-api-main">
        <http:listener config-ref="traxion-albatros-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="traxion-albatros-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if(isEmpty((error.description default "") find 'Authorization'))
	{message: "Bad request"}
else
	{message: "Access token was not provided"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[if(!isEmpty((error.description default "") find 'Authorization') or 
!isEmpty((error.description default "") find 'Access token')
)
	401
else
	400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="traxion-albatros-api-console">
        <http:listener config-ref="traxion-albatros-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="traxion-albatros-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\shipments\article:application\json:traxion-albatros-api-config">
        <set-variable value="#[attributes.queryParams.customer_name]" doc:name="customer name" doc:id="5924b3ab-62e3-40ca-9f9c-0465dcce8ffe" variableName="customerName" />
        <set-variable value="#[attributes.queryParams.system_request]" doc:name="system_request" doc:id="c0b2c02b-9454-4458-9c04-2a720d39917b" variableName="systemRequest" />
        <flow-ref doc:name="Call to orchestrators-update-article" doc:id="f91f9db5-5c62-4684-aab1-615a894b18f0" name="orchestrators-update-article" />
        <logger level="INFO" doc:name="payload" doc:id="f6fe7d48-e5b5-4d69-b47b-ed13d686b3ed" message="#[payload]" />
        <!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  traxion_response: {
    completed_succesfully: "true",
    response: {
      message: "successful",
      data: {}
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="post:\shipments\availability:application\json:traxion-albatros-api-config">
        <set-variable value="#[attributes.queryParams.customer_name]" doc:name="customer name" doc:id="be1d0801-ef27-4f89-a4b0-2826b3c52a31" variableName="customerName" />
        <set-variable value="#[attributes.queryParams.system_request]" doc:name="system_request" doc:id="38b3d7f1-3bdb-4d30-81ad-2bdfbef6691c" variableName="systemRequest" />
        <flow-ref doc:name="Call to orchestrators-post-avilability" doc:id="ea680d56-d3cf-4c42-bab1-bbcc64576ef5" name="orchestrators-post-avilability" />
        <logger level="INFO" doc:name="payload" doc:id="ce6a2f8c-818b-417e-af0b-53dc9cffc05b" message="#[payload]" />
        <!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  skus: [
    {
      sku: "010000010300",
      availability: 348,
      package_key: true,
      quantity_pieces_package: [
        20, 
        30, 
        15
      ]
    }, 
    {
      sku: "010000010600",
      availability: 245,
      package_key: false,
      quantity_pieces_package: []
    },
    {
      sku: "010000010400",
      availability: 1420,
      package_key: false,
      quantity_pieces_package: []
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="post:\shipments\delivery_certification:application\json:traxion-albatros-api-config">
        <set-variable value="#[attributes.queryParams.customer_name]" doc:name="customer name" doc:id="81ee4e2e-43cc-4e27-b71d-912af89ca112" variableName="customerName" />
        <set-variable value="#[attributes.queryParams.system_request]" doc:name="system_request" doc:id="2fc077fe-e1ef-4939-a525-5bda24e7ebb3" variableName="systemRequest" />
        <flow-ref doc:name="Call to orchestrators-post-delivery-certification" doc:id="ff132753-73eb-43f6-af93-e443ba61cc64" name="orchestrators-post-delivery-certification" />
        <logger level="INFO" doc:name="payload" doc:id="4f3bf826-1f63-4ad2-bfb9-d9c2d133d277" message="#[payload]" />
        <!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
    "traxion_response": {
        "completed_succesfully": "true",
        "response": {
            "message": "successful",
            "data": {}
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="post:\shipments\inventory_assignment:application\xml:traxion-albatros-api-config">
        <set-variable value="#[attributes.queryParams.customer_name]" doc:name="customer name" doc:id="cdf7e18a-1b66-47b6-b6e3-89a572b2f7e6" variableName="customerName" />
        <set-variable value="#[attributes.queryParams.system_request]" doc:name="system_request" doc:id="403eeb43-da03-42d2-8efa-ac3a8f514cc0" variableName="systemRequest" />
        <flow-ref doc:name="Call to orchestrators-post-inventory-assignment" doc:id="0a88e474-1963-43fe-ac77-c3444fe2506a" name="orchestrators-post-inventory-assignment" />
        <logger level="INFO" doc:name="payload" doc:id="14f0461a-dcf5-4c1d-a5a0-8136d12c0a70" message="#[payload]" />
        <!-- [STUDIO:"Transform Message"]		<ee:transform doc:name="Transform Message" doc:id="c2dae5c4-35ae-4381-8324-0acc1afd3e16" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  traxion_response: {
    completed_succesfully: "true",
    response: {
      message: "successful",
      data: {}
    }
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform> [STUDIO] -->
    </flow>
    <flow name="post:\shipments\order:application\json:traxion-albatros-api-config">
        <set-variable value="#[attributes.queryParams.customer_name]" doc:name="customer name" doc:id="a1b31782-0395-4538-a129-2ed22e73eb2d" variableName="customerName" />
        <logger level="INFO" doc:name="customerName" doc:id="2832dc56-762d-4761-b5c0-3ae68e28aa48" message="CustomerName: #[vars.customerName]"/>
		<ee:transform doc:name="payload backup" doc:id="32452251-5ae7-4f8c-b3af-2d192a7bb8a5">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="payloadBK"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call to orchestrators-post-order" doc:id="bac54914-2a7f-4ee4-8fd3-2c14514d4bb1" name="orchestrators-post-order" />
        <logger level="INFO" doc:name="payload" doc:id="2777d69b-c465-4f08-98ad-4c2b63542f66" message="#[payload]" />
        <!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  traxion_response: {
    completed_succesfully: "true",
    response: {
      message: "successful",
      data: {}
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="post:\shipments\volumetry:application\json:traxion-albatros-api-config">
        <set-variable value="#[attributes.queryParams.system_request]" doc:name="system_request" doc:id="d0ae3e03-2c98-43fb-a22b-f8238bef7345" variableName="systemRequest" />
        <set-variable value="#[attributes.queryParams.customer_name]" doc:name="customer name" doc:id="8546552e-f616-4fe2-bbb8-29b24eef913b" variableName="customerName" />
        <flow-ref doc:name="Call to orchestrators-post-volumetry" doc:id="59cdf043-f3ac-4631-a3c4-1bb9e5b02fce" name="orchestrators-post-volumetry" />
        <logger level="INFO" doc:name="payload" doc:id="f098082c-9bda-4bfa-b12c-48d2182d6e43" message="#[payload]" />
        <!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  "total volume": 1500,
  skus: [
    {
      sku: "12345asdas",
      quantity: 100,
      volume: 300,
      weight: 500
    }, 
    {
      sku: "12344asdas",
      quantity: 100,
      volume: 300,
      weight: 500
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="post:\shipments\warehouse_output:application\xml:traxion-albatros-api-config">
        <set-variable value="#[attributes.queryParams.system_request]" doc:name="system_request" doc:id="80228c47-7571-4976-91cd-33a3cb7a82fb" variableName="systemRequest" />
        <set-variable value="#[attributes.queryParams.customer_name]" doc:name="customer name" doc:id="d546288e-f7c5-4c73-9c9e-25246f985542" variableName="customerName" />
        <flow-ref doc:name="Call to orchestrators-post-warehouse-output" doc:id="41e8627c-f84a-4486-92d9-34e9f7ddcbbf" name="orchestrators-post-warehouse-output" />
        <logger level="INFO" doc:name="payload" doc:id="98efdf53-50a5-48ce-bb88-a23f3687afd1" message="#[payload]" />
        <!-- [STUDIO:"Transform Message1"]		<ee:transform doc:name="Transform Message1" doc:id="0173292e-31f2-4712-903e-bac3271b7f6d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  traxion_response: {
    completed_succesfully: "true",
    response: {
      message: "successful",
      data: {}
    }
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform> [STUDIO] -->
    </flow>
    <flow name="get:\shipments\remision\certified:traxion-albatros-api-config">
        <ee:transform doc:name="set vars query params" doc:id="0d166f40-ae9d-4efc-a3e2-e2b388da9894">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="no_remision"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.no_remision default ""]]></ee:set-variable>
                <ee:set-variable variableName="umu"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.umu default ""]]></ee:set-variable>
                <ee:set-variable variableName="clave"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.clave default ""]]></ee:set-variable>
                <ee:set-variable variableName="lote"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.lote default ""]]></ee:set-variable>
                <ee:set-variable variableName="codigo_barras"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.codigo_barras default ""]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="orchestrator-get-remision-certified-main" doc:id="946bc46e-1094-4ec5-87c0-ec2a6ade18bc" name="orchestrator-get-remision-certified-main" />
    </flow>
    <flow name="get:\shipments\assortment:traxion-albatros-api-config">
        <set-variable value="#[attributes.queryParams.type_box]" doc:name="Set Type Box" doc:id="9df49fb7-075b-4f25-a631-f0d61ad06319" variableName="typeBox" />
        <set-variable value="#[attributes.queryParams.code]" doc:name="Set Code" doc:id="4ac8944c-ce09-4c56-b1b5-69f1962cbd76" variableName="code" />
        <flow-ref doc:name="Call to orchestrators-post-assortment" doc:id="d00a73f7-80f5-4c9e-9d21-b60d75c07d7d" name="orchestrators-post-assortment" />
    </flow>
    <flow name="post:\shipments\remision\certified:text\xml:traxion-albatros-api-config">
        <flow-ref doc:name="orchestrator-post-remision-certified-main" doc:id="13408a75-07d0-4e76-8f0c-04580771dd16" name="orchestrator-post-remision-certified-main" />
    </flow>
    <flow name="get:\shipments\order\(lodnum)\box:traxion-albatros-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="lodnum">attributes.uriParams.'lodnum'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="orchestrator-get-boxes-by-order-id-main" doc:id="85c5f349-91f5-40af-ab68-83e480a3acf4" name="orchestrator-get-boxes-by-order-id-main" />
    </flow>
    <flow name="post:\shipments\auth:application\json:traxion-albatros-api-config">
        <flow-ref doc:name="orchestrators-post-auth" doc:id="7cd08ca6-5b31-4a7f-9332-40e198e3bae7" name="orchestrators-post-auth" />
    </flow>
    <flow name="get:\shipments\stock_report:traxion-albatros-api-config">
        <flow-ref doc:name="Call to orchestrator-get-stock-report-main" doc:id="863e19f2-8466-40b7-bbe8-88aeb81118a0" name="orchestrator-get-stock-report-main" />
    </flow>
    <flow name="post:\shipments\confirmation\receipt:text\xml:traxion-albatros-api-config" doc:id="2313a5aa-3cb0-4d1b-a5fd-5dae720cece1">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  traxion_response: {
    completed_succesfully: "false",
    error: {
      error_type: "APIKIT-XXX",
      user_error_description: "Detailed and plain language description of the problem",
      system_error_description: "Verbose,plain language description of the problem for the app developer with hints about how to fix it."
    }
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\shipments\assortment:application\json:traxion-albatros-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  lpn_pending_boxes: 2,
  lpn_total_boxes: 2,
  lpn_assortments_pallet: 2,
  delivery_pending_boxes: 2,
  delivery_total_boxes: 2,
  delivery_assortments_pallet: 2
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\tms\shipments\order:application\xml:traxion-albatros-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
  traxion_response: {
    completed_succesfully: "true",
    response: {
      message: "Shipment created correctly",
      data: null
    }
  }
} as Object {encoding: "UTF-8", mediaType: "application/xml"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\shipments\remision\certified:application\xml:traxion-albatros-api-config">
		<ee:transform doc:name="set vars query params" doc:id="a19d18ec-8348-4bbf-b953-c3abbf1c26f2" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="no_remision" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.no_remision default ""]]></ee:set-variable>
				<ee:set-variable variableName="umu" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.umu default ""]]></ee:set-variable>
				<ee:set-variable variableName="clave" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.clave default ""]]></ee:set-variable>
				<ee:set-variable variableName="lote" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.lote default ""]]></ee:set-variable>
				<ee:set-variable variableName="codigo_barras" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.codigo_barras default ""]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Call to orchestrator-post-remision-certified-main" doc:id="fa17a14c-6940-4e53-b0d7-381001e20853" name="orchestrator-post-remision-certified-main" />
    </flow>
    <flow name="post:\tms\shipments\order:application\xml:traxion-albatros-api-config">
        <ee:transform doc:name="Transform Message" doc:id="d1e78e5f-d68c-43cb-9e96-78273fda9d08">
            <ee:message>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="customer_name" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.customer_name]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
		<flow-ref doc:name="Call-orchestrator-post-tms-shipments-order" doc:id="b938609f-307d-49d7-a8ad-662919678a69" name="orchestrator-post-tms-shipments-order"/>
    </flow>
</mule>
