src/main/mule/traxion-albatros-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
    <http:listener-config name="traxion-albatros-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082" protocol="HTTPS" tlsContext="TLS_Context" />
    </http:listener-config>
    <apikit:config name="traxion-albatros-api-config" api="resource::ab8117f6-d718-4307-b5f7-03262d589cd0:traxion-albatros-api:1.0.52:raml:zip:traxion-albatros-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="traxion-albatros-api-main">
        <http:listener config-ref="traxion-albatros-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="traxion-albatros-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if(isEmpty((error.description default "") find 'Authorization'))
	{message: "Bad request"}
else
	{message: "Access token was not provided"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[if(!isEmpty((error.description default "") find 'Authorization') or 
!isEmpty((error.description default "") find 'Access token')
)
	401
else
	400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-404",
			"user_error_description": "The origin server did not find a current representation for the target resource or is not willing to disclose that one exists",
			"system_error_description": "Not Found"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-405",
			"user_error_description": "The method received in the request-line is known by the origin server but not supported by the target resource",
			"system_error_description": "Method Not Allowed"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-406",
			"user_error_description": "The target resource does not have a current representation that would be acceptable to the user agent, according to the proactive negotiation header fields received in the request1, and the server is unwilling to supply a default representation",
			"system_error_description": "Not Acceptable"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-415",
			"user_error_description": "The origin server is refusing to service the request because the payload is in a format not supported by this method on the target resource",
			"system_error_description": "Unsupported Media Type"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
	
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-501",
			"user_error_description": "The server does not support the functionality required to fulfill the request",
			"system_error_description": "Not Implemented"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="c139e853-e6db-4dde-a400-6d015e131799" type="HTTP:NOT_FOUND">
                <ee:transform doc:name="Transform Message" doc:id="a2a73e1b-210f-46c1-8660-5d8d9dffef69">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
error.muleMessage.typedValue]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="1ec18fa9-5bae-419c-8a0e-290243978ae8" type="ANY">
                <ee:transform doc:name="Transform Message" doc:id="672ba8af-8cc8-44e9-9a76-c2d53f6ef5eb">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "traxion_response": {
    "completed_succesfully": false,
    "error": {
      "operation": error.muleMessage.typedValue.traxion_response.error.operation,
      "error_type": error.muleMessage.typedValue.traxion_response.error.error_type,
      "system_error_description": error.muleMessage.typedValue.traxion_response.error.system_error_description,
      "user_error_description": error.muleMessage.typedValue.traxion_response.error.user_error_description
    }
  }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[500]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="traxion-albatros-api-console">
        <http:listener config-ref="traxion-albatros-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="traxion-albatros-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\shipments\article:application\json:traxion-albatros-api-config">
        <set-variable value="#[attributes.queryParams.customer_name]" doc:name="customer name" doc:id="5924b3ab-62e3-40ca-9f9c-0465dcce8ffe" variableName="customerName" />
        <set-variable value="#[attributes.queryParams.system_request default &quot;CUBISCAN&quot;]" doc:name="system_request" doc:id="c0b2c02b-9454-4458-9c04-2a720d39917b" variableName="systemRequest" />
        <flow-ref doc:name="Call to orchestrators-update-article" doc:id="f91f9db5-5c62-4684-aab1-615a894b18f0" name="orchestrators-update-article" />
        <logger level="INFO" doc:name="payload" doc:id="f6fe7d48-e5b5-4d69-b47b-ed13d686b3ed" message="#[payload]" />
        <!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  traxion_response: {
    completed_succesfully: "true",
    response: {
      message: "successful",
      data: {}
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="post:\shipments\availability:application\json:traxion-albatros-api-config">
        <set-variable value="#[attributes.queryParams.customer_name]" doc:name="customer name" doc:id="be1d0801-ef27-4f89-a4b0-2826b3c52a31" variableName="customerName" />
        <set-variable value="#[attributes.queryParams.system_request default &quot;CRM&quot;]" doc:name="system_request" doc:id="38b3d7f1-3bdb-4d30-81ad-2bdfbef6691c" variableName="systemRequest" />
        <flow-ref doc:name="Call to orchestrators-post-avilability" doc:id="ea680d56-d3cf-4c42-bab1-bbcc64576ef5" name="orchestrators-post-avilability" />
        <!-- [STUDIO:"payload"]<logger level="INFO" doc:name="payload" doc:id="ce6a2f8c-818b-417e-af0b-53dc9cffc05b" message="#[payload&#93;" /> [STUDIO] -->
        <!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  skus: [
    {
      sku: "010000010300",
      availability: 348,
      package_key: true,
      quantity_pieces_package: [
        20, 
        30, 
        15
      ]
    }, 
    {
      sku: "010000010600",
      availability: 245,
      package_key: false,
      quantity_pieces_package: []
    },
    {
      sku: "010000010400",
      availability: 1420,
      package_key: false,
      quantity_pieces_package: []
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="post:\shipments\delivery_certification:application\json:traxion-albatros-api-config">
        <set-variable value="#[attributes.queryParams.customer_name]" doc:name="customer name" doc:id="81ee4e2e-43cc-4e27-b71d-912af89ca112" variableName="customerName" />
        <set-variable value="#[attributes.queryParams.system_request default &quot;CRM&quot;]" doc:name="system_request" doc:id="2fc077fe-e1ef-4939-a525-5bda24e7ebb3" variableName="systemRequest" />
        <flow-ref doc:name="Call to orchestrators-post-delivery-certification" doc:id="ff132753-73eb-43f6-af93-e443ba61cc64" name="orchestrators-post-delivery-certification-" />
        <logger level="INFO" doc:name="payload" doc:id="4f3bf826-1f63-4ad2-bfb9-d9c2d133d277" message="#[payload]" />
        <!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
    "traxion_response": {
        "completed_succesfully": "true",
        "response": {
            "message": "successful",
            "data": {}
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="post:\shipments\inventory_assignment:application\xml:traxion-albatros-api-config">
        <set-variable value="#[attributes.queryParams.customer_name]" doc:name="customer name" doc:id="cdf7e18a-1b66-47b6-b6e3-89a572b2f7e6" variableName="customerName" />
        <set-variable value="#[attributes.queryParams.system_request default &quot;WMS&quot;]" doc:name="system_request" doc:id="403eeb43-da03-42d2-8efa-ac3a8f514cc0" variableName="systemRequest" />
        <flow-ref doc:name="Call to orchestrators-post-inventory-assignment" doc:id="0a88e474-1963-43fe-ac77-c3444fe2506a" name="orchestrators-post-inventory-assignment" />
        <logger level="INFO" doc:name="payload" doc:id="14f0461a-dcf5-4c1d-a5a0-8136d12c0a70" message="#[payload]" />
        <!-- [STUDIO:"Transform Message"]		<ee:transform doc:name="Transform Message" doc:id="c2dae5c4-35ae-4381-8324-0acc1afd3e16" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  traxion_response: {
    completed_succesfully: "true",
    response: {
      message: "successful",
      data: {}
    }
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform> [STUDIO] -->
    </flow>
    <flow name="post:\shipments\order:application\json:traxion-albatros-api-config">
        <set-variable value="#[attributes.queryParams.customer_name]" doc:name="customer name" doc:id="a1b31782-0395-4538-a129-2ed22e73eb2d" variableName="customerName" />
        <set-variable value="#[attributes.queryParams.system_request default &quot;CRM&quot;]" doc:name="system request" doc:id="b55c95d6-a582-4280-8cc3-8b4146738d5f" variableName="systemRequest" />
        <logger level="INFO" doc:name="customerName" doc:id="2832dc56-762d-4761-b5c0-3ae68e28aa48" message="CustomerName: #[vars.customerName]" />
        <ee:transform doc:name="payload backup" doc:id="32452251-5ae7-4f8c-b3af-2d192a7bb8a5">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="payloadBK"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call to orchestrators-post-order" doc:id="bac54914-2a7f-4ee4-8fd3-2c14514d4bb1" name="orchestrators-post-order" />
        <logger level="INFO" doc:name="payload" doc:id="2777d69b-c465-4f08-98ad-4c2b63542f66" message="#[payload]" />
        <!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  traxion_response: {
    completed_succesfully: "true",
    response: {
      message: "successful",
      data: {}
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="post:\shipments\volumetry:application\json:traxion-albatros-api-config">
        <set-variable value="#[attributes.queryParams.system_request default &quot;CRM&quot;]" doc:name="system_request" doc:id="d0ae3e03-2c98-43fb-a22b-f8238bef7345" variableName="systemRequest" />
        <set-variable value="#[attributes.queryParams.customer_name]" doc:name="customer name" doc:id="8546552e-f616-4fe2-bbb8-29b24eef913b" variableName="customerName" />
        <flow-ref doc:name="Call to orchestrators-post-volumetry" doc:id="59cdf043-f3ac-4631-a3c4-1bb9e5b02fce" name="orchestrators-post-volumetry" />
        <logger level="INFO" doc:name="payload" doc:id="f098082c-9bda-4bfa-b12c-48d2182d6e43" message="#[payload]" />
        <!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  "total volume": 1500,
  skus: [
    {
      sku: "12345asdas",
      quantity: 100,
      volume: 300,
      weight: 500
    }, 
    {
      sku: "12344asdas",
      quantity: 100,
      volume: 300,
      weight: 500
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="post:\shipments\warehouse_output:application\xml:traxion-albatros-api-config">
        <set-variable value="#[attributes.queryParams.system_request default &quot;WMS&quot;]" doc:name="system_request" doc:id="80228c47-7571-4976-91cd-33a3cb7a82fb" variableName="systemRequest" />
        <set-variable value="#[attributes.queryParams.customer_name]" doc:name="customer name" doc:id="d546288e-f7c5-4c73-9c9e-25246f985542" variableName="customerName" />
        <flow-ref doc:name="Call to orchestrators-post-warehouse-output" doc:id="41e8627c-f84a-4486-92d9-34e9f7ddcbbf" name="orchestrators-post-warehouse-output" />
        <logger level="INFO" doc:name="payload" doc:id="98efdf53-50a5-48ce-bb88-a23f3687afd1" message="#[payload]" />
        <!-- [STUDIO:"Transform Message1"]		<ee:transform doc:name="Transform Message1" doc:id="0173292e-31f2-4712-903e-bac3271b7f6d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  traxion_response: {
    completed_succesfully: "true",
    response: {
      message: "successful",
      data: {}
    }
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform> [STUDIO] -->
    </flow>
    <flow name="get:\shipments\remision\certified:traxion-albatros-api-config">
        <ee:transform doc:name="set vars query params" doc:id="0d166f40-ae9d-4efc-a3e2-e2b388da9894">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="certification_date_from"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.certification_date_from default ""]]></ee:set-variable>
                <ee:set-variable variableName="certification_date_to"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.certification_date_to default ""]]></ee:set-variable>
                <ee:set-variable variableName="remision"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.remision default ""]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="8d2b384c-441d-4d8b-af4c-8f50b036657d" message="RANGO DE FECHAS  DESDE #[vars.certification_date_from] HASTA #[vars.certification_date_to]" />
        <flow-ref doc:name="orchestrator-get-remision-certified-main" doc:id="946bc46e-1094-4ec5-87c0-ec2a6ade18bc" name="orchestrator-get-remision-certified-main" />
    </flow>
    <flow name="get:\shipments\assortment:traxion-albatros-api-config">
        <set-variable value="#[attributes.queryParams.type_box]" doc:name="Set Type Box" doc:id="9df49fb7-075b-4f25-a631-f0d61ad06319" variableName="typeBox" />
        <set-variable value="#[attributes.queryParams.code]" doc:name="Set Code" doc:id="4ac8944c-ce09-4c56-b1b5-69f1962cbd76" variableName="code" />
        <flow-ref doc:name="Call to orchestrators-post-assortment" doc:id="d00a73f7-80f5-4c9e-9d21-b60d75c07d7d" name="orchestrators-post-assortment" />
    </flow>
    <flow name="get:\shipments\order\(lodnum)\box:traxion-albatros-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="lodnum">attributes.uriParams.'lodnum'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="orchestrator-get-boxes-by-order-id-main" doc:id="85c5f349-91f5-40af-ab68-83e480a3acf4" name="orchestrator-get-boxes-by-order-id-main" />
    </flow>
    <flow name="post:\shipments\auth:application\json:traxion-albatros-api-config">
        <flow-ref doc:name="orchestrators-post-auth" doc:id="7cd08ca6-5b31-4a7f-9332-40e198e3bae7" name="orchestrators-post-auth" />
    </flow>
    <flow name="get:\shipments\stock_report:traxion-albatros-api-config">
        <flow-ref doc:name="Call to orchestrator-get-stock-report-main" doc:id="863e19f2-8466-40b7-bbe8-88aeb81118a0" name="orchestrator-get-stock-report-main" />
    </flow>
    <flow name="post:\shipments\remision\certified:application\xml:traxion-albatros-api-config">
        <ee:transform doc:name="set vars query params" doc:id="ae1dba18-d012-4748-b4e0-3b770d4cfc3f">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="certification_date_from"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.certification_date_from default ""]]></ee:set-variable>
                <ee:set-variable variableName="certification_date_to"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.certification_date_to default ""]]></ee:set-variable>
                <ee:set-variable variableName="remision"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.remision default ""]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="902dd4ff-9398-4beb-8484-3eb1c48f87a6" message="RANGO DE FECHAS  DESDE #[vars.certification_date_from] HASTA #[vars.certification_date_to]" />
        <flow-ref doc:name="orchestrator-post-remision-certified-main" doc:id="11397a37-c0f3-40a2-b7c6-834af1b6379b" name="orchestrator-post-remision-certified-main" />
    </flow>
    <flow name="post:\tms\shipments\order:application\xml:traxion-albatros-api-config">
        <ee:transform doc:name="Set variable customer_name" doc:id="d1e78e5f-d68c-43cb-9e96-78273fda9d08">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="customer_name"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.customer_name]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call-orchestrator-post-tms-shipments-order" doc:id="b938609f-307d-49d7-a8ad-662919678a69" name="orchestrator-post-tms-shipments-order" />
    </flow>
    <flow name="post:\shipments\assortment:application\json:traxion-albatros-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  lpn_pending_boxes: 2,
  lpn_total_boxes: 2,
  lpn_assortments_pallet: 2,
  delivery_pending_boxes: 2,
  delivery_total_boxes: 2,
  delivery_assortments_pallet: 2
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\redpack\shipments\order:application\json:traxion-albatros-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="c16201ee-1ed2-4f42-b6a4-c36af769f920" message="#[payload]" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  traxion_response: {
    completed_succesfully: "true",
    response: {
      message: "Shipment created correctly"
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\tms\order\dispatch:application\json:traxion-albatros-api-config">
        <ee:transform doc:name="Set variable customer_name">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="customer_name"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.customer_name]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call-orchestrator-post-shipment-dispatch" doc:id="ab5f221e-ead0-475f-b266-1050e3ff9fd1" name="orchestrator-post-shipment-dispatch" />
    </flow>
    <flow name="post:\shipments\confirmation\receipt:text\xml:traxion-albatros-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  traxion_response: {
    completed_succesfully: "false",
    error: {
      error_type: "APIKIT-XXX",
      user_error_description: "Detailed and plain language description of the problem",
      system_error_description: "Verbose,plain language description of the problem for the app developer with hints about how to fix it."
    }
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\salesforce\siam:application\json:traxion-albatros-api-config">
        <ee:transform doc:name="Transform Message" doc:id="04523136-90ad-47dd-9d84-a4c13829c500">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="customer_name"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.customer_name]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call-orchestrator-post-salesforce-siam" doc:id="a01cbfd0-9cf1-4dfc-b7cc-13e4a5d7bb25" name="orchestrator-post-salesforce-siam" />
    </flow>
    <flow name="post:\appoinment\certification:application\json:traxion-albatros-api-config">
        <flow-ref doc:name="orchestrator-post-appointment-cetification-main" doc:id="4041ab4a-ddd5-4e60-9e3d-089e2515efaf" name="orchestrator-post-appointment-cetification-main" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  traxion_response: {
    completed_succesfully: "true",
    response: {
      message: "correctly",
      data: ""
    }
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\shipments\v2\delivery_certification:application\json:traxion-albatros-api-config">
        <set-variable value="#[attributes.queryParams.customer_name]" doc:name="customer name" doc:id="1d7f9185-8dbf-40a8-be70-5c1dc11ff8b0" variableName="customerName" />
        <set-variable value="#[attributes.queryParams.system_request default &quot;CRM&quot;]" doc:name="system_request" doc:id="e61820ac-08a8-4f80-bc93-4f8b3b50a03e" variableName="systemRequest" />
        <flow-ref doc:name="orchestrators-post-document-certification" doc:id="00791d79-5459-404c-89f6-67d03e4a6a40" name="orchestrators-post-document-certification" />
        <logger level="INFO" doc:name="payload" doc:id="b699803f-f3ee-494f-bc3f-40969e3eb289" message="#[payload]" />
    </flow>
    <flow name="post:\store\evidence:application\json:traxion-albatros-api-config">
		<flow-ref doc:name="Call to orchestrator-post-store-evidence-main" doc:id="75a76c97-a19f-4037-853c-092239905121" name="orchestrator-post-store-evidence-main"/>
    </flow>
</mule>
